In [1]:
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from opendatasets) (4.64.1)
Requirement already satisfied: click in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from opendatasets) (8.1.3)
Requirement already satisfied: kaggle in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from opendatasets) (1.5.12)
Requirement already satisfied: colorama in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: python-slugify in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: six>=1.10 in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: requests in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from kaggle->opendatasets) (2.28.1)
Requirement already satisfied: urllib3 in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from kaggle->opendatasets) (1.26.12)
Requirement already satisfied: certifi in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from kaggle->opendatasets) (2022.9.24)
Requirement already satisfied: python-dateutil in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from requests->kaggle->opendatasets) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\jenine\appdata\local\programs\python\python310\lib\site-packages (from requests->kaggle->opendatasets) (2.1.1)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import opendatasets as od

In [3]:
dataset = pd.read_csv("apartment-prices/rent_apartments.csv")

In [4]:
dataset.head()

,Agency,location,Price,link,total_sqft,Bedrooms,Bathrooms
0,Buy Rent Shelters,"General Mathenge, Westlands","KSh 155,000",/listings/4-bedroom-apartment-for-rent-general...,4.0,4.0,4.0
1,Kenya Classic Homes,"Kilimani, Dagoretti North","KSh 100,000",/listings/3-bedroom-apartment-for-rent-kiliman...,300.0,3.0,4.0
2,Absolute Estate Agents,"Hatheru Rd,, Lavington, Dagoretti North","KSh 75,000",/listings/3-bedroom-apartment-for-rent-lavingt...,3.0,3.0,5.0
3,A1 Properties Limited,"Kilimani, Dagoretti North","KSh 135,000",/listings/3-bedroom-apartment-for-rent-kiliman...,227.0,3.0,4.0
4,Pmc Estates Limited,"Imara Daima, Embakasi","KSh 50,000",/listings/3-bedroom-apartment-for-rent-imara-d...,3.0,3.0,NaN

In [5]:
dataset.shape

(1848, 7)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1848 entries, 0 to 1847
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Agency      1848 non-null   object
 1   location    1848 non-null   object
 2   Price       1848 non-null   object
 3   link        1848 non-null   object
 4   total_sqft  1846 non-null   float64
 5   Bedrooms    1845 non-null   float64
 6   Bathrooms   1557 non-null   float64
dtypes: float64(3), object(4)
memory usage: 101.2+ KB

In [7]:
#returns object containing counts of unique values
for column in dataset.columns:
    print(dataset[column].value_counts())
    print("*"*20)

Prudential Green Ville         98
Wealthlink Realtors Ltd        67
Buy Rent Shelters              59
Pam Golding Properties         51
Mambo Properties Enterprise    51
                               ..
Property Matrix                 1
Cheska Agencies                 1
Homeowners Eye                  1
Serene Valley Apartments        1
Rainbow Properties Limited      1
Name: Agency, Length: 194, dtype: int64
********************
Kilimani, Dagoretti North                                  168
Kileleshwa, Dagoretti North                                108
Westlands Area, Westlands                                  105
Lavington, Dagoretti North                                  90
Riverside, Westlands                                        54
                                                          ...
Near USIU, Safari park, Zimmermann, Roysambu                 1
riara road, Kilimani, Dagoretti North                        1
Kizingo, Kizingo, kizingo, Mvita                             1
Muringa groove, Muringa road, Kilimani, Dagoretti North      1
Peponi road, Spring Valley, Westlands                        1
Name: location, Length: 647, dtype: int64
********************
KSh 100,000    137
KSh 120,000    118
KSh 150,000    113
KSh 90,000     109
KSh 75,000     101
              ...
KSh 42,500       1
KSh 79,000       1
KSh 42,000       1
KSh 83,000       1
KSh 27,000       1
Name: Price, Length: 112, dtype: int64
********************
/listings/4-bedroom-apartment-for-rent-general-mathenge-3468257    2
/listings/2-bedroom-apartment-for-rent-kileleshwa-3466288          2
/listings/3-bedroom-apartment-for-rent-riverside-3459946           2
/listings/2-bedroom-apartment-for-rent-karura-3463321              2
/listings/3-bedroom-apartment-for-rent-kilimani-3467123            2
                                                                  ..
/listings/2-bedroom-apartment-for-rent-kilimani-37                 1
/listings/3-bedroom-apartment-for-rent-kileleshwa-3461766          1
/listings/2-bedroom-apartment-for-rent-riverside-3457942           1
/listings/4-bedroom-apartment-for-rent-kilimani-3467295            1
/listings/2-bedroom-apartment-for-rent-kilimani-3448928            1
Name: link, Length: 1761, dtype: int64
********************
3.0       673
2.0       446
4.0       138
1.0       132
186.0      19
         ...
1200.0      1
114.0       1
264.0       1
123.0       1
20.0        1
Name: total_sqft, Length: 154, dtype: int64
********************
3.0    899
2.0    579
1.0    180
4.0    175
0.0      8
5.0      3
6.0      1
Name: Bedrooms, dtype: int64
********************
2.0    633
3.0    449
4.0    247
1.0    176
5.0     48
6.0      4
Name: Bathrooms, dtype: int64
********************

In [8]:
dataset.isna().sum()

Agency          0
location        0
Price           0
link            0
total_sqft      2
Bedrooms        3
Bathrooms     291
dtype: int64

In [9]:
dataset.drop(columns=["Agency","link"],inplace=True)

In [10]:
dataset.describe()

         total_sqft     Bedrooms    Bathrooms
count   1846.000000  1845.000000  1557.000000
mean     327.226977     2.577778     2.595376
std     2048.784581     0.819399     1.000349
min        0.000000     0.000000     1.000000
25%        2.000000     2.000000     2.000000
50%        3.000000     3.000000     2.000000
75%        4.000000     3.000000     3.000000
max    40470.000000     6.000000     6.000000

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1848 entries, 0 to 1847
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    1848 non-null   object
 1   Price       1848 non-null   object
 2   total_sqft  1846 non-null   float64
 3   Bedrooms    1845 non-null   float64
 4   Bathrooms   1557 non-null   float64
dtypes: float64(3), object(2)
memory usage: 72.3+ KB

In [12]:
dataset['Bathrooms'].value_counts()

2.0    633
3.0    449
4.0    247
1.0    176
5.0     48
6.0      4
Name: Bathrooms, dtype: int64

In [13]:
dataset["Bathrooms"]=dataset["Bathrooms"].fillna(dataset["Bathrooms"].median())

In [14]:
dataset["Bedrooms"]=dataset["Bedrooms"].fillna(dataset["Bedrooms"].median())

In [15]:
dataset["total_sqft"]=dataset["total_sqft"].fillna(dataset["total_sqft"].median())

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1848 entries, 0 to 1847
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    1848 non-null   object
 1   Price       1848 non-null   object
 2   total_sqft  1848 non-null   float64
 3   Bedrooms    1848 non-null   float64
 4   Bathrooms   1848 non-null   float64
dtypes: float64(3), object(2)
memory usage: 72.3+ KB

In [17]:
dataset["total_sqft"].unique()

array([4.0000e+00, 3.0000e+02, 3.0000e+00, 2.2700e+02, 2.0000e+00,
       1.4000e+01, 1.8600e+02, 1.0000e+00, 0.0000e+00, 9.0000e+01,
       4.5000e+01, 1.8000e+02, 2.0230e+03, 1.2500e+02, 4.0000e+03,
       2.0000e+02, 1.2000e+03, 1.0120e+03, 1.8000e+01, 1.0000e+02,
       4.0470e+03, 1.2000e+02, 2.4000e+02, 3.5000e+01, 9.0000e+00,
       2.5000e+03, 6.0710e+03, 1.5000e+02, 3.0350e+03, 1.0500e+02,
       8.0000e+01, 1.3000e+02, 5.5000e+01, 2.5000e+02, 2.0000e+03,
       8.5000e+01, 1.2000e+04, 5.1000e+01, 2.0240e+03, 2.0235e+04,
       9.5000e+01, 4.5000e+03, 4.8000e+01, 1.0118e+04, 9.4000e+01,
       2.6000e+02, 1.0700e+02, 8.0940e+03, 4.0470e+04, 1.1000e+02,
       1.2900e+02, 8.0000e+03, 8.9000e+01, 1.5700e+02, 1.2700e+02,
       1.1100e+02, 1.7700e+02, 1.1700e+02, 2.3000e+03, 1.3500e+02,
       1.4900e+02, 6.0000e+00, 2.1600e+03, 1.5000e+01, 1.4000e+02,
       1.1300e+02, 1.0000e+03, 1.5800e+02, 2.1780e+04, 7.0000e+01,
       1.2800e+02, 1.1500e+02, 1.2500e+03, 3.7100e+02, 1.2300e+02,
       1.7000e+02, 2.6400e+02, 1.3000e+01, 2.2000e+02, 1.1400e+02,
       2.3000e+01, 1.6200e+02, 2.6450e+03, 1.6000e+02, 2.9700e+02,
       1.4000e+03, 2.3200e+02, 1.1000e+01, 1.6700e+02, 1.8500e+02,
       1.5600e+02, 7.0000e+00, 8.0000e+00, 1.0800e+02, 2.3000e+02,
       5.0000e+00, 2.7000e+03, 1.2100e+02, 1.2400e+02, 1.2000e+01,
       2.4800e+03, 8.6000e+01, 2.2000e+01, 2.0250e+03, 9.1000e+01,
       4.1800e+02, 1.7500e+02, 2.4200e+02, 1.8420e+03, 1.6300e+02,
       2.1000e+02, 2.2300e+02, 1.9000e+01, 2.7900e+02, 2.4300e+03,
       1.9600e+02, 2.0400e+02, 1.8100e+02, 2.9400e+03, 2.8600e+03,
       1.3800e+02, 1.5000e+03, 2.0000e+04, 1.8000e+03, 1.6800e+02,
       2.1370e+03, 2.1800e+02, 2.7870e+03, 2.1000e+04, 1.9300e+02,
       2.4500e+03, 2.2800e+02, 2.4000e+03, 2.4000e+01, 2.8400e+03,
       2.8000e+03, 2.1300e+02, 2.5800e+02, 2.6200e+02, 2.7000e+02,
       4.6000e+01, 2.5000e+01, 2.9000e+02, 3.2500e+02, 1.3300e+02,
       2.6010e+03, 3.0000e+03, 2.9500e+03, 1.6000e+01, 2.8000e+02,
       3.4400e+02, 4.6450e+03, 2.8000e+01, 2.0000e+01])

In [18]:
#drop ksh in price and the comma
dataset['Price'] = dataset['Price'].str.replace('KSh','',regex=True).str.replace(',','').astype(float)

In [19]:
dataset.describe()

               Price    total_sqft     Bedrooms    Bathrooms
count    1848.000000   1848.000000  1848.000000  1848.000000
mean    97343.881494    326.876082     2.578463     2.501623
std     40241.322051   2047.702796     0.818910     0.943445
min     12000.000000      0.000000     0.000000     1.000000
25%     70000.000000      2.000000     2.000000     2.000000
50%     95000.000000      3.000000     3.000000     2.000000
75%    130000.000000      4.000000     3.000000     3.000000
max    280000.000000  40470.000000     6.000000     6.000000

In [20]:
dataset['location'].value_counts()

Kilimani, Dagoretti North                                  168
Kileleshwa, Dagoretti North                                108
Westlands Area, Westlands                                  105
Lavington, Dagoretti North                                  90
Riverside, Westlands                                        54
                                                          ...
Near USIU, Safari park, Zimmermann, Roysambu                 1
riara road, Kilimani, Dagoretti North                        1
Kizingo, Kizingo, kizingo, Mvita                             1
Muringa groove, Muringa road, Kilimani, Dagoretti North      1
Peponi road, Spring Valley, Westlands                        1
Name: location, Length: 647, dtype: int64

In [21]:
dataset['locaton']=dataset['location'].apply(lambda x: x.strip())
location_count=dataset['location'].value_counts()

In [22]:
location_count

Kilimani, Dagoretti North                                  168
Kileleshwa, Dagoretti North                                108
Westlands Area, Westlands                                  105
Lavington, Dagoretti North                                  90
Riverside, Westlands                                        54
                                                          ...
Near USIU, Safari park, Zimmermann, Roysambu                 1
riara road, Kilimani, Dagoretti North                        1
Kizingo, Kizingo, kizingo, Mvita                             1
Muringa groove, Muringa road, Kilimani, Dagoretti North      1
Peponi road, Spring Valley, Westlands                        1
Name: location, Length: 647, dtype: int64

In [23]:
location_count_less_10=location_count[location_count<=10]
location_count_less_10

General Mathenge, General Mathenge, Westlands              10
Riara Road, Dagoretti North                                10
Mandera Road, Kileleshwa, Dagoretti North                   9
kileleshwa, Kileleshwa, Kileleshwa, Dagoretti North         9
Imara Daima, Embakasi                                       9
                                                           ..
Near USIU, Safari park, Zimmermann, Roysambu                1
riara road, Kilimani, Dagoretti North                       1
Kizingo, Kizingo, kizingo, Mvita                            1
Muringa groove, Muringa road, Kilimani, Dagoretti North     1
Peponi road, Spring Valley, Westlands                       1
Name: location, Length: 628, dtype: int64

In [24]:
dataset['location']=dataset['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [25]:
dataset['location'].value_counts()

other                                               996
Kilimani, Dagoretti North                           168
Kileleshwa, Dagoretti North                         108
Westlands Area, Westlands                           105
Lavington, Dagoretti North                           90
Riverside, Westlands                                 54
Rhapta Road, Westlands                               40
Parklands, Westlands                                 35
General Mathenge, Westlands                          31
Ruaka, Kiambaa                                       28
kilimani, kilimani, Kilimani, Dagoretti North        28
kilimani, Kilimani, Kilimani, Dagoretti North        28
Waiyaki Way, Westlands                               25
Limuru Road, Ruaka, Kiambaa                          22
Riverside Drive, Riverside, Westlands                20
Brookside, Westlands                                 19
Kiambu Road, Kiambu Road                             16
Ngong Road, Ngong Road                               12
Rhapta Road, Westlands Area, Westlands               12
lavington, Lavington, Lavington, Dagoretti North     11
Name: location, dtype: int64

In [26]:
dataset.describe()

               Price    total_sqft     Bedrooms    Bathrooms
count    1848.000000   1848.000000  1848.000000  1848.000000
mean    97343.881494    326.876082     2.578463     2.501623
std     40241.322051   2047.702796     0.818910     0.943445
min     12000.000000      0.000000     0.000000     1.000000
25%     70000.000000      2.000000     2.000000     2.000000
50%     95000.000000      3.000000     3.000000     2.000000
75%    130000.000000      4.000000     3.000000     3.000000
max    280000.000000  40470.000000     6.000000     6.000000

In [27]:
dataset.shape

(1848, 6)

In [28]:
dataset

,location,Price,total_sqft,Bedrooms,Bathrooms,locaton
0,"General Mathenge, Westlands",155000.0,4.0,4.0,4.0,"General Mathenge, Westlands"
1,"Kilimani, Dagoretti North",100000.0,300.0,3.0,4.0,"Kilimani, Dagoretti North"
2,other,75000.0,3.0,3.0,5.0,"Hatheru Rd,, Lavington, Dagoretti North"
3,"Kilimani, Dagoretti North",135000.0,227.0,3.0,4.0,"Kilimani, Dagoretti North"
4,other,50000.0,3.0,3.0,2.0,"Imara Daima, Embakasi"
...,...,...,...,...,...,...
1843,other,180000.0,3.0,3.0,2.0,"Laikipia Road, Kileleshwa, Dagoretti North"
1844,other,180000.0,2.0,2.0,2.0,"Peponi road, Spring Valley, Westlands"
1845,"Kileleshwa, Dagoretti North",180000.0,4.0,4.0,5.0,"Kileleshwa, Dagoretti North"
1846,"Westlands Area, Westlands",180000.0,4.0,4.0,4.0,"Westlands Area, Westlands"
1847,"Kilimani, Dagoretti North",180000.0,2.0,2.0,2.0,"Kilimani, Dagoretti North"

In [29]:
dataset.drop(columns=['locaton'],inplace=True)

CLEANED DATA

In [30]:
dataset.head()

                      location     Price  total_sqft  Bedrooms  Bathrooms
0  General Mathenge, Westlands  155000.0         4.0       4.0        4.0
1    Kilimani, Dagoretti North  100000.0       300.0       3.0        4.0
2                        other   75000.0         3.0       3.0        5.0
3    Kilimani, Dagoretti North  135000.0       227.0       3.0        4.0
4                        other   50000.0         3.0       3.0        2.0

In [31]:
dataset.to_csv('Cleaned_data.csv')

In [32]:
X=dataset.drop(columns=['Price'])
y=dataset['Price']

In [33]:
 from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from xgboost import XGBRegressor
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [34]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2, random_state = 2)

In [35]:
print(X_train.shape)
print(X_test.shape)

(1478, 4)
(370, 4)

APPLYING LINEAR REGRESSION

In [36]:
column_trans=make_column_transformer((OneHotEncoder(sparse=False),["location"]),remainder='passthrough')

In [37]:
scaler=StandardScaler()

In [38]:
lr=LinearRegression(normalize=True)

In [39]:
pipe=make_pipeline(column_trans,scaler,lr)

In [40]:
pipe.fit(X_train,y_train)

C:\Users\JENINE\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [41]:
y_pred = pipe.predict(X_test)

APPlYING LASSO

In [42]:
lasso=Lasso()

In [43]:
pipe=make_pipeline(column_trans,scaler, lasso)

In [44]:
pipe.fit(X_train, y_train)

C:\Users\JENINE\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.738e+10, tolerance: 2.371e+08
  model = cd_fast.enet_coordinate_descent(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [45]:
y_pred_lasso=pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

0.2872537738245662

In [46]:
ridge=Ridge()

In [47]:
pipe=make_pipeline(column_trans,scaler,ridge)

In [48]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [49]:
y_pred_ridge=pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.2872506515266927

In [50]:
import pickle

In [51]:
print('No Regularization: ',r2_score(y_test,y_pred))
print('Lasso: ',r2_score(y_test,y_pred_lasso))
print('Ridge: ',r2_score(y_test,y_pred_ridge))

No Regularization:  0.28694449695618773
Lasso:  0.2872537738245662
Ridge:  0.2872506515266927

In [52]:
pickle.dump(pipe, open('RegressorModel.pkl','wb'))

In [56]:
pipe.predict(pd.DataFrame([["Parklands, Westlands","3000","3","3"]],columns=['location','total_sqft','Bedrooms','Bathrooms']))

array([120847.16226945])

In [54]:
model =pickle.load(open('RegressorModel.pkl', 'rb'))